.picture-box {
  display: block;
  padding: 10px;
  width: auto;
}

@include media-breakpoint-up(md) {
  .picture-box {
    position: absolute;
    float: left;
    overflow: auto;
    z-index: 1;
  }
}
.picture-flex-box {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.picture-image {
  max-width: 60%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  object-fit: contain;
  border: 10px solid $gray-main;
  border-radius: 0.8rem;
}

