//header
#p9 header {
  float: inline-start;
  position: absolute;
  overflow: visible;
  top: 0;
  z-index: 1;
  width: 100%;
  background: rgb(0, 0, 0, 0.4) !important;
}

//navbar
#p9 .navbar-nav {
  --bs-nav-link-color: #DEDEDE;
  --bs-nav-link-hover-color: $brown-secondary;
}

//main

#p9 h1,
#p9 h2 {
  color: #F2F2F2;
}


#c29 {
    background-color: rgb(0,0,0,0) !important;
    float: inline-start !important;
    overflow: auto;
    position: absolute;
    z-index: 100;
    top: 70vh;
}

//footer
#p9 .footer-section-meta{
  float: inline-start;
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  background: rgb(0,0,0,0.4) !important;
  overflow: auto;
}


//Slider

#slickid-203 {
  margin-bottom: 0 !important;
  max-height: 100vh;
}

#slickid-203 .slick-slider {
  margin: 0;
}

#p9 figure{
  margin: 0;
}

#p9 figure img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  max-height: 100vh;
}

footer .frame {
  padding-top: calc((var(--mainnavigation-nav-height) - var(--mainnavigation-link-height)) / 3);
  padding-bottom: calc((var(--mainnavigation-nav-height) - var(--mainnavigation-link-height)) / 3);
}
/*#slickid-203 .slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}*/

