
.card-title{
  text-align: center;
  font-size: calc(.8rem + 0.9vw);
  margin: 0 auto;
  width: 100%;
  display: block;
  text-decoration: none !important;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0.6rem;
}

.card {
  overflow: hidden;
  border: 4px solid $gray-fill;
  border-radius: 1em;
  background-color: $gray-main;
}

.card-link-wrapper {
  text-decoration: none !important;
}

.card-img-top {
  margin: .6rem;
  border-radius: 0.6em;
  max-width: 96%;
  height: auto;
}

.card-img-top, img {
  align-self: center;
}

h2.card-title {
  text-align: center;
}

.card-menu-item {
  box-sizing: border-box;
}

.news-list-view a {
  text-decoration: none;
}
