// Navigation
.navbar-mainnavigation {
  box-shadow: none;
  padding-top: calc((var(--mainnavigation-nav-height) - var(--mainnavigation-link-height)) / 3);
  padding-bottom: calc((var(--mainnavigation-nav-height) - var(--mainnavigation-link-height)) / 3);
}

//body:not(#p9) .navbar-nav .nav-item, body:not(#p9) .navbar-nav {
//  --bs-nav-link-color: $brown-secondary;
//  --bs-nav-link-hover-color: #DEDEDE;
//}

body:not(#p9) .navbar-nav .nav-link.active, body:not(#p9) .navbar-nav .nav-link.show {
  color: $gray-main;
  background-color: $brown-secondary;
  padding: 0.6rem 1.5rem;
  border-radius: 99999px;
}

.nav-link-text {
  text-decoration: none !important;
  font-family: 'Antonio', sans-serif;
  font-weight: 600;
}

.navbar-mainnavigation .nav-link.nav-link-main:before {
  display: none;
}

.container-mainnavigation {
  display: flex;
  justify-content: space-between;
}

.container-mainnavitems {
  max-width: max-content;
  margin-right: 0;
}

.language-menu {
  margin-bottom: 0;
  margin-right: 0.7rem;
}

//Dropdown Menu
body:not(#p9) .dropdown-menu {
  background-color: $gray-fill;
  box-shadow: none;
  border: 3px solid $gray-main;
  border-radius: .6rem;
}

body:not(#p9) .nav-link-text, body:not(#p9) .nav-link {
  color: $brown-secondary;
}

body:not(#p9) .nav-link-text:hover, body:not(#p9) .nav-link:hover {
  color: $gray-main;
}

body:not(#p9) .nav-link.active .nav-link-text, body:not(#p9) .nav-link.show .nav-link-text {
  color: $gray-main
}

.nav-link-toggle.show {
  padding: 8px !important;
  background-color: rgb(0,0,0,0);
}

body:not(#p9) .nav-link-toggle.show {
  color: $brown-secondary !important;
  background-color: #c3c3c3 !important;
}



// Footer
.footer-section-meta {
  background-color: $gray-fill !important;
}

.footer-navigation-link {
  text-decoration: none !important;
  color: $gray-main !important;
}

footer .frame {
  padding-top: var(--frame-spacing-small);
  padding-bottom: var(--frame-spacing-small);
}
