.popup-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0,0.4);
  padding-top: 100px;
}

.popup-modal-content {
  background-color: $gray-main;
  z-index: 200;
  height: 60vh;
  max-height: 70vh;
  padding: 5px;
  margin: 17vh auto auto;
  border: 1px solid $gray-fill;
}

.modal-image {
  max-height: 50vh;
  aspect-ratio: 1;
}

.close-modal {
  color: #aaaaaa;
  float: right;
  line-height: 56px;
  font-size: 56px;
  font-weight: bold;
  margin-top: -15px;
  z-index: 400;
}

.close-modal:hover {
  color: #050505;
  text-decoration: none;
  cursor: pointer;
}
