.popup-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0,0.4);
  padding-top: 100px;
}

.popup-modal-content {
  background-color: $gray-main;
  z-index: 200;
  padding: 5px 5px;
  margin: 6vh auto auto;
  //border: 1px solid $gray-fill;
  border-radius: 0.6rem;
}

.modal-popup-image {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1;
  display: block;
  margin-top: .2rem;
  border-radius: 50%;
}

.modal-image {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.6rem;
  padding: 5px 0 5px 5px;
}

.close-modal {
  color: $gray-fill;
  float: right;
  line-height: 56px;
  font-size: 56px;
  font-weight: bold;
  margin-right: 10px;
  z-index: 400;
}

.close-modal:hover {
  color: $brown-secondary;
  text-decoration: none;
  cursor: pointer;
}


#c119 .popup-modal-content p {
  padding-left: 0rem;
}

#p7 .popup-modal-content .frame-container {
  padding-left: 0rem;
}

.img-container {
  padding: 0;
}
