//
// Fonts
//
@font-face {
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../Fonts/Antonio.ttf) format("truetype");
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../Fonts/Cuprum.ttf) format('truetype');
}

//
// Variables
//
@import "variables";

//
// Import needed Bootstrap Package Files
//
@import "EXT:bootstrap_package/Resources/Public/Scss/bootstrap5/theme";

@media (min-width: 1400px) {
  .frame-container-default {
    max-width: 1600px;
  }
}


html body {
  font-family: 'Cuprum', sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.03rem;
  color: $brown-secondary;

//Background Image:
  background-image: url("../../Images/BackgroundImageBig.svg");
  background-color: $gray-main;
  background-attachment: unset;
  background-position: left var(--mainnavigation-nav-height);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
}

//main {
//  min-height: 80vh;
//}

//Home
/*
#p9 html body {
  background-image: url("../../Images/Hintergrund.svg");
}
*/



/*.body-bg {
  //position: fixed;
  inset: 0;
  z-index: -1;
  overflow: hidden;

  //background-image: url("../../Images/Hintergrund.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  background-size: cover;
}

.body-bg .backgroundimage,
.body-bg .backgroundimage img {
  width: 100%;
  height: 100%;
}

.body-bg .backgroundimage img {
  object-fit: cover;

}
*/
//Imports
@import "navigation";
@import "headers";
@import "main_card";
@import "infobox";
@import "login";
@import "images";
@import "profile";
@import "form";
@import "customimage";
@import "home";

.container-mainnavigation {
  text-decoration: none !important;
}

p {
  padding-left: 1.5rem;
}

.btn {
  font-family: 'Antonio', sans-serif;
  background-image: none;
  box-shadow: none;
  padding-left: 2rem;
  padding-right: 2rem;
  text-transform: none;
  letter-spacing: 0.05rem;
  border: 2px solid $brown-secondary;
}

.btn-primary {
  --bs-btn-color: $brown-secondary;
  color: $gray-main;
  --bs-btn-hover-bg: $gray-main;
  --bs-btn-hover-color: $brown-secondary;
  --bs-btn-hover-border-color: $gray-fill;
}

/*
.frame-type-container_2_columns_left {
  padding-top: 0;
}
*/
.frame-type-header {
  padding-bottom: 0;
}

.frame-space-before-none {
  --frame-outer-spacing-before: 0;
}

//Hufschmiede Wallner
#p7 p {
  padding-left: calc(2.5rem + 7vw);
}

#p7 h1 {
  padding-left: calc(1.5rem + 7vw);
}

.frame-container{
  padding-left: calc(2.5rem + 7vw - calc(var(--bs-gutter-x) * .5));
  margin-left: 0;
}


//Home - adjustments
body:not(#p9) .body-bg {
  display: flex;
  flex-flow: column;
  height: 100%;
}

body:not(#p9) #page-header {
  flex: 0 1 auto;
}

body:not(#p9) #page-content {
  flex: 1 1 auto;
}

body:not(#p9) .section {
  display: flex;
  flex-direction: column;
  height: 100%
}

body:not(#p9) footer .section {
  justify-content: center;
}

body[id="p7"] .section {
  justify-content: space-between;
}


body:not(#p9) #c12 {
  display: none;
}

body:not(#p9) #page-footer {
  flex: 0 1 auto;
}
